system("rbenv versions")
system("bundler -v")
rails_root = "/var/www/b2c"
rails_env  = "staging"
shared_path = "#{rails_root}/shared"
current_path = "#{rails_root}/current"

clockworkd_cmd       = " bundle exec clockworkd"
clockwork_file       = "#{rails_root}/current/clock.rb"
clockwork_identifier =  File.basename(clockwork_file, '.rb')
clockwork_pid_dir    = "#{shared_path}/tmp/pids"
clockwork_log_dir    = "#{shared_path}/log"
clockwork_dir        = current_path

clockwork_base_cmd   = "#{clockworkd_cmd} -c '#{clockwork_file}' -i '#{clockwork_identifier}' -d '#{clockwork_dir}' --pid-dir '#{clockwork_pid_dir}' --log --log-dir '#{clockwork_log_dir}' "
clockwork_start_cmd  = "#{clockwork_base_cmd} start"
clockwork_restart_cmd  = "#{clockwork_base_cmd} restart"


puts clockwork_start_cmd
God.watch do |w|
  w.name = "clockwork_monitor"

  w.start   = "clockwork clock.rb"

  #w.restart = "kill -USR2 `cat #{rails_root}/tmp/clockworkd.clock.pid`"
  w.log     = "#{shared_path}/log/god.log"
  w.dir     =  current_path


  w.env = { 'RAILS_ROOT' => "/var/www/b2c/current",
            'RAILS_ENV' => "staging" }
  #w.behavior(:clean_pid_file)
  w.start_grace = 10.seconds
  w.restart_grace = 10.seconds
  #w.pid_file = File.join(shared_path, "tmp/pids/clockworkd.clock.pid")

  w.keepalive
end

